/* .container{
    display: grid;
    grid-template-columns: auto auto;
   grid-template-rows: auto auto ; 
}

.item{
    padding: 20px;
    color:white;
    font-size: 30px;
    border: 2px white solid;
    
}

.item1{
    background-color: blue;
}

.item2{
    background-color: green;
}

.item3{
    background-color: red;
} */